body {
    scroll-behavior: smooth;
}
#rolypoly {
    padding-top: 75px;
    padding-left:10px;
    column-count: 2;
    column-span:all;
    background-color: rgb(235, 235, 235);

}
#principal {
    padding-bottom: 80px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), 90%, rgb(235, 235, 235)), url("background4.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.lisca-crazy {
    display: inline-block;
}
#calculadorah1 {
    padding-left: 0px;
}
#barra a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}
#contato {
    background-color: rgb(28, 28, 28);
    background-size:100%;
    padding-top: 30px;
    margin-bottom: 0px;
}
#contato p {
    background-color: rgb(28, 28, 28);
    font-size: x-large;
    margin-bottom: 0px;
}
#final {
    font-size:x-small;
    padding-left: 15px;
    background-color: rgb(28, 28, 28);
    margin-bottom: 0px;
}
#pequenoparagrafo {
    transform: translateY(45%);
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom:-1rem;
}
#backgroundparagrafo{
    background-color: rgb(235, 235, 235);
    margin-bottom:-1rem;
}
#calculadora {
    transform: translateY(30%);
    height:500px;
    width:500px;
    border-image-width: 100%;
    padding-left: 100px;
}
#itens {
    font-size:x-large;
}
h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#seta1 {
    padding-top: 110px;
}
#header1 {
    transform: translateY(-30%);
}
#p1 {
    transform: translateY(5%);
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li {
    font-size:large;
}
#nome {
    font-size:x-large;
}
.result {
    border: 0px;
    border-left: 1px;
    border-color: gray;
    border-style: solid;
    padding-left: 2rem;
}

h4 {
    margin-top: 0.6rem;
    margin-bottom: 0;
    font-size: 1.25rem;
}

p {
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: 0.2rem;
}
@media only screen and (max-width: 768px) {
    #borda {
        border-top: 1px solid gray;
        display: block;
        width:87vw;
        padding-top: 2rem;
        margin-top: 2rem;
    }
    #principal {
        object-fit:contain;
        height:100%;
    }
    #header1 {
    text-align:center;
    }
    #p1 {
        font-size:x-large;
        text-align:center;
    }
    #seta1 {
        padding-top: 110px;
        padding-left: 200px;
    }
    #rolypoly {
        padding-top: 0px;
        column-count:1;
    }

    #calculadora {
        display:none;
    }
    #calculadorah1{
        padding-top:50px;
        text-align:center;
    }
}
a {
    color: #403433;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}