body {
    scroll-behavior: smooth;
}
#corpinmaromba {
    width: 100vw;
    height: 100vh;
    overflow:hidden;
}
#rolypoly {
    padding-top: 75px;
    padding-left:10px;
    column-count: 2;
    column-span:all;
    background-color: rgb(235, 235, 235);

}
.gride {
    font-family: "Poppins", sans-serif;
    color: rgb(235, 235, 235);
    width: 100vw;
    height: 100vh;
    background-color:rgba(31, 63, 125, 1);
    padding-top: 10px;
    display:grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: 33% 33% 33%;
    padding-left:30px;
}
.gride input {
    background-color: rgb(178, 194, 226);
}
.gride input:focus {
    background-color: rgb(203, 219, 255);
}
.botao {
    color: rgb(27, 27, 27);
    font-size:large;
    margin-top:15px;
    background-color: rgba(53, 234, 201, 0.92);
    width: 260px;
    border-style:hidden;
    border-radius: 12px;
} .botao:hover {
    width: 265px;
    height: 30px;
    background-color: rgba(155, 255, 237, 0.671);
    color: rgb(66, 66, 66);
}
.botao:active {
    border-style:solid;
    border-color:rgba(152, 255, 236, 0.671);
}
.cavalo {
    padding-top:10px;
    padding-left:30px;
    padding-right:30px;
    height:85vh;
    width:50vh;
    background-color: rgba(22, 49, 103, 0.63);
    border-radius:12px;
}
.form-label{
    margin-bottom:.3rem;
}
.res {
    border-radius:5%;
    margin-top:30px;
    padding-left: 30px;
    padding-right: 30px;
    border:black;
    border-width:30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 100px;
    background-color: rgba(22, 49, 103, 0.63);
    background-size: 100%;
    height: 425px;
    width: 600px;
}
#principal {
    padding-bottom: 80px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), 90%, rgb(235, 235, 235)), url("background4.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.lisca-crazy {
    display: inline-block;
}
#calculadorah1 {
    padding-left: 0px;
}
#barra a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}
#contato {
    background-color: rgb(28, 28, 28);
    background-size:100%;
    padding-top: 30px;
    margin-bottom: 0px;
}
#contato p {
    background-color: rgb(28, 28, 28);
    font-size: x-large;
    margin-bottom: 0px;
}
#final {
    font-size:x-small;
    padding-left: 15px;
    background-color: rgb(28, 28, 28);
    margin-bottom: 0px;
}
#pequenoparagrafo {
    transform: translateY(45%);
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom:-1rem;
}
#backgroundparagrafo{
    background-color: rgb(235, 235, 235);
    margin-bottom:-1rem;
}
#calculadora {
    transform: translateY(30%);
    height:500px;
    width:500px;
    border-image-width: 100%;
    padding-left: 100px;
}
#itens {
    font-size:x-large;
}
h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#seta1 {
    padding-top: 110px;
}
#header1 {
    transform: translateY(-30%);
}
#p1 {
    transform: translateY(5%);
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li {
    font-size:large;
}
#nome {
    font-size:x-large;
}
.result {
    border: 0px;
    border-left: 1px;
    border-color: gray;
    border-style: solid;
    padding-left: 2rem;
}

h4 {
    margin-top: 0.6rem;
    margin-bottom: 0;
    font-size: 1.25rem;
}

p {
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: 0.2rem;
}
@media only screen and (max-width: 768px) {
    #borda {
        border-top: 1px solid rgba(35, 77, 161, 0.842);
        display: block;
        width:275px;
        padding-top: 2rem;
        margin-top: 2rem;
    }
    #principal {
        object-fit:contain;
        height:100%;
    }
    #header1 {
    text-align:center;
    }
    #p1 {
        font-size:x-large;
        text-align:center;
    }
    #seta1 {
        padding-top: 110px;
        padding-left: 200px;
    }
    #rolypoly {
        padding-top: 0px;
        column-count:1;
    }

    #calculadora {
        display:none;
    }
    #calculadorah1{
        padding-top:50px;
        text-align:center;
    }
    #corpinmaromba {
        width: 100vw;
        height: 100vh;
        overflow-y:scroll;
        overflow-x:hidden;
        background-color:rgba(31, 63, 125, 1);
    }
    .botao {
        margin-bottom:90px;
    }
    .gride {
        font-family: "Poppins", sans-serif;
        color: rgb(235, 235, 235);
        width: 100vw;
        height: 100vh;
        margin-left:9vw;
        background-color:rgba(31, 63, 125, 1);
        display:flex;
        flex-direction:column;
        padding-top: 10px;
        padding-left:30px;
    }
    .cavalo {
        padding-top:10px;
        padding-left:30px;
        padding-right:30px;
        height:88vh;
        width:50vh;
        background-color: rgba(22, 49, 103, 0.63);
        border-radius:12px;
    }
    .form-label{
        margin-bottom:.3rem;
    }
    .res {
        display:flex;
        border-radius:5%;
        margin-top:30px;
        padding-left: 0px;
        padding-right: 30px;
        border-style: hidden;
        border-top-style: hidden;
        border-width:0px;
        display: flex;
        flex-direction: column-reverse;
        justify-content:flex-end;
        margin-left:0px;
        padding-left:10px;
        background-color: rgba(22, 49, 103, 0.63);
        background-size: 100%;
        height: 300vh;
        width: 300px;
    }
    .cavalinho {
        padding-top:1.5rem;
    }
}
a {
    color: #403433;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

.coluna1 {
    display: flex;
    justify-content:center;
    
}